<%= render "layouts/authenticated" %>


<ul class="nav nav-tabs">
  <li><a href="#personal" data-toggle="tab">Identificacion del Problema</a></li>
  <li><a href="#dependencia" data-toggle="tab">Dependencia</a></li>
  <li><a href="#mensajes" data-toggle="tab">Mensajes</a></li>
</ul>
<%= semantic_form_for @problem do |f| %>
<div class="tab-content">
<div class="tab-pane active" id="personal">

  
    <%= f.inputs %>
    



</div>
<div class=" tab-pane" id="dependencia">
  
sdsadasd
  </div>

  <div class="tab-pane" id="mensajes">


  </div>
</div>
<%= f.actions %>
  <% end %>
