
<%= render "layouts/authenticated" %>
<div class="row">

<div class="span4">
  <%= image_tag("/images/logo_dimension.jpg", :class => "span3")%>
</div>

<div class="span8">
<p>
La presenta plataforma, constituye una herramienta de apoyo para realizar la planificación, programación, presupuestación y evaluación de los programas públicos, a los que se asignan recursos federales, recursos estatales, municipales e incluso de organismos internacionales que requieren transparentar su uso y medir los resultados.
</p>
<p>
La nueva técnica presupuestal que se ha recomendado implantar para el uso eficiente del gasto público, es el Presupuesto Basado en Resultados (PbR), del cual se deriva el Sistema de Evaluación del Desempeño (SED).
</p>
<p>on estas técnicas no se podrá programar, presupuestar, aprobar y ejercer recursos públicos, si no se elaboran los presupuestos de egresos, en el sector público federal, estatal y municipal, utilizando el Método del Marco Lógico (MML), la Matriz de Indicadores para Resultados (MIR) y los Programas Operativos Anuales (POA´S) que, obligadamente ahora, todos los entes públicos de los tres niveles de gobierno deberán adoptar para ejercerlo adecuadamente y transparentar el gasto, en los programas públicos y evaluar sus resultados e impactos en la población.
</p>
<p>
De acuerdo con las disposiciones establecidas en ley, los programas públicos, deben de planificarse, programarse, aprobarse y ejercerse con base en el Método de Marco Lógico, que proporciona las herramientas metodológicas para evaluar los programas presupuestarios y presentar informes trimestrales a la Secretaría de Hacienda y Crédito Público, a la Cámara de Diputados y al Consejo Nacional de Evaluación de Políticas Públicas (CONEVAL).
</p>
<p>
Este documento constituye una Guía de orientación y una importante  herramienta de apoyo, para que las autoridades de los gobiernos de los tres niveles (federal, estatal y municipal), puedan preparar presupuestalmente sus programas públicos, utilizando la metodología oficial como es el Método de Marco Lógico, tal como lo establecen las disposiciones normativas vigentes y de la que detallamos con puntualidad sus características e importancia de su uso.
</p>
<p>
En la preparación de este documento, se utilizó información que sobre el Método del Marco Lógico (MML) ha desarrollado el Instituto Latinoamericano y del Caribe de Planificación Económica y Social (ILPES) -CEPAL-Naciones Unidas; la Secretaría de Hacienda y Crédito Público (SHCP), la Comisión Nacional de Evaluación (CONEVAL) y la Organización para la Cooperación y el Desarrollo Económico (OCDE).
</p>
</div>

</div>