<%= render "layouts/authenticated" %>
<div class="pageheader">
            
            <div class="pageicon"><span class="iconfa-laptop"></span></div>
            <div class="pagetitle">
                <h5>Presupuesto Basado en Resultados y la Evaluacion del Desempeno</h5>
                <h1>PLATAFORMA PBR MML</h1>
            </div>
        </div><!--pageheader-->

<div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
<%= render "form" %>