<header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">

          <%= render 'layouts/navigation' %>

          <div class="row">
          </div>
        </div>
      </nav>
    </header>