<ul class="nav pull-right">
<li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> @first_name <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><%= link_to('<i class="icon-off"></i> Mi Cuenta'.html_safe, edit_user_registration_path) %></li>

<li class="divider"></li>
<li> <%= link_to('<i class="icon-off"></i> Salir'.html_safe, destroy_user_session_path, :method=>'delete') %>
</ul>
</li>
</ul>